Source/CombatExtendedHardcore/.vs/CombatExtendedHardcore/v17/DocumentLayout.json
Source/CombatExtendedHardcore/.vs/CombatExtendedHardcore/v17/.suo
/Source/CombatExtendedHardcore/.vs

Source/CombatExtendedHardcore/obj/Debug/CombatExtendedHardcore.AssemblyInfo.cs
Source/CombatExtendedHardcore/obj/Debug/CombatExtendedHardcore.AssemblyInfo.cs
Source/CombatExtendedHardcore/obj/Debug/CombatExtendedHardcore.AssemblyInfoInputs.cache
Source/CombatExtendedHardcore/obj/Debug/CombatExtendedHardcore.AssemblyInfo.cs
Source/CombatExtendedHardcore/.vs/CombatExtendedHardcore/v17/DocumentLayout.json
Source/CombatExtendedHardcore/.vs/CombatExtendedHardcore/v17/.suo
